.privateChatContainer{
    width: 100%;
    height: 100vh;
}

.chatHeader{
    width: 100%;
    height: 10%;
    background-color: black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.chatBody{
    background-color: white;
    height: 75%;
    width: 100%;
    overflow-y: scroll;
    /* display: flex; */
}

.chatInputMessage{
    /* background-color: yellow; */
    height: 15%;
    width: 100%;
}

form{
    height: 100%;
}

.message_input{
    height: 98%;
    width: 98%;
}

/* textarea{
    width: 100%;
    height: 100%;
} */

.messageBox{
    margin-bottom: 1vh;
    /* position: relative; */
    width: 100%;
    display: flex;
	flex-direction: column;
}

.buble{
    border: 1px solid black;
    width: 20%;
    padding: 2vh;
    align-self: flex-end;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 5vh;
}

.first_user_message{
    color: yellow;
    background-color: red;
    margin-right: 1vh;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    float: right;
}

.second_user_message{
    color: blue;
    margin-left: 1vh;
    width: 100%;
    float: left;
}