.privateChatContainer{
    width: 100%;
    height: 100vh;
}

.chatHeader{
    width: 100%;
    height: 10%;
    background-color: red;
    text-align: center;
}

.chatBody{
    background-color: white;
    height: 75%;
    width: 100%;
    overflow-y: scroll;
    /* display: flex; */
    background-color: yellow;
}

.chatInputMessage{
    background-color: yellow;
    height: 15%;
    width: 100%;
}

form{
    height: 100%;
}

textarea{
    width: 100%;
    height: 100%;
}

.messageBox{
    margin-bottom: 1vh;
    position: relative;
    width: 40%;
    display: flex;
	flex-direction: column;
}

.buble{
    border: 1px solid black;
    width: 30%;
    padding: 2vh;
    align-self: flex-end;
}

.first_user_message{
    color: white;
    margin-right: 1vh;
    width: 100%;
    float: right;
}

.second_user_message{
    color: blue;
    margin-left: 1vh;
    width: 100%;
    float: left;
}