*{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
}
main .profile img{
    /* margin: 15px auto;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10%; */
    width: 100%;
    height: 22vh;
    /* object-fit: cover; */
    border-radius: 10%;
    margin: 2vh;
    /* margin-right: 20px; */
}
.information{     
    justify-content: space-between;
    border-bottom: 1px solid rgb(116, 116, 116);
    padding: 3px;   
    border-top: 1px solid rgb(116, 116, 116);
    
}

.information_element{
    font-size: large;
    margin: 2vh;
}

.information label{
    display: block;  
}

.profile_div{
    height: 30%;
}

.message{
    display: flex;
    font-size: large; 
    padding: 1vh;
    border-bottom: 2px solid white;
}

.message_info{
    height: 70%;
    /* overflow-y: scroll; */
}

.message_view{
    text-align: center;
    color: violet;
    height: 100%;
    width: 50%;
    cursor: pointer;
    font-weight: bold;
    border-right: 1px solid white;
}

.info_view{
    text-align: center;
    color: blue;
    height: 100%;
    width: 50%;
    cursor: pointer;
}

.link{
    text-decoration:  none;
    color: rgba(238, 255, 0, 0.918);
}

body{
    margin: auto;
     /* background-color: rgba(2, 2, 255, 0.233); */
}
.container_1{  
    border-right: 1px solid rgb(116, 116, 116);
    background-color: #725a7a;
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.profile{
    border-bottom: 2px solid rgb(116, 116, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.prefer{
    border-bottom: 1px solid rgb(116, 116, 116);
    padding: 3px;
}
.deconnecte{
    border-top: 1px solid rgb(116, 116, 116);
    padding: 1vh;
    color: rgba(255, 0, 0, 0.747);
}
.edit{
    padding: 1vh;
    color: rgba(0, 0, 255, 0.781);
    display: flex;
    flex-direction: row;
}

.link_deconnecte{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.747);
}
.link_edit{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.781);
}
.container_2{
    align-items: center;
    display: flex;
    text-align: center;
    border: 1px solid black;
    height: 35vh;
    width: 35vh;
    justify-content: center;
    margin: 0 auto 0 auto;
    margin-top: 4vh;
    background-color: red;
    cursor: pointer;
}

.userConversation{
    cursor: pointer;
    padding: 1vh 0;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid white;
    color: white;
    /* margin-bottom: 1vh;
    margin-top: 1vh; */
}

.container{
    width: 83%;
}

.userPseudo{
    border-bottom: 1px solid white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.conversation_heading{
    text-align: center;
    border-bottom: 1px dashed white;
    color: white;
}