*{
    padding: 0;
    margin: 0;
}
main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    
}
main .profile img{
    margin: 15px auto;
    display: block;
    width: 120px;
    border-radius: 100%;
    
}
.information{     
    justify-content: space-between;
    border-bottom: 1px solid rgb(116, 116, 116);
    padding: 3px;   
    border-top: 1px solid rgb(116, 116, 116);
    
}

.information_element{
    font-size: large;
    margin: 2vh;
}

.information label{
    display: block;  
}
.message{
    display: flex;
    font-size: large; 
    padding: 1vh;    
    
}

.message_view{
    text-align: center;
    color: violet;
    height: 100%;
    width: 50%;
    cursor: pointer;
}
.info_view{
    text-align: center;
    color: blue;
    height: 100%;
    width: 50%;
    cursor: pointer;
}

.link{
    text-decoration:  none;
    color: rgba(238, 255, 0, 0.918);
}

body{
    margin: auto;
     background-color: rgba(2, 2, 255, 0.233);
}
.container_1{  
    border-right: 1px solid rgb(116, 116, 116);
    background-color: rgb(172, 168, 169);
    width: 45vh;
}
.profile{
    border-bottom: 1px solid rgb(116, 116, 116);
}
.prefer{
    border-bottom: 1px solid rgb(116, 116, 116);
    padding: 3px;
}
.deconnecte{
    border-top: 1px solid rgb(116, 116, 116);
    padding: 1vh;
    color: rgba(255, 0, 0, 0.747);
}
.edit{
    padding: 1vh;
    color: rgba(0, 0, 255, 0.781);
    display: flex;
    flex-direction: row;
}

.link_deconnecte{
    text-decoration: none;
    color: rgba(255, 0, 0, 0.747);
}
.link_edit{
    text-decoration: none;
    color: rgba(0, 0, 255, 0.781);
}
.container_2{
    align-items: center;
    display: flex;
    text-align: center;
    border: 1px solid black;
    height: 35vh;
    width: 35vh;
    justify-content: center;
    margin: 0 auto 0 auto;
    margin-top: 4vh;
    background-color: red;
    cursor: pointer;
}

.userConversation{
    cursor: pointer;
    padding: 2vh 0;
}