*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


/* body{
    background-image: url(./WhatsApp\ Image\ 2023-04-18\ à\ 21.55.24.jpg); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
} */

/* .background{
    
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
} */

.general{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.heading_welcome{
    color: white;
}

.background{
    display: flex;
    justify-content: center;
    align-items: center;
}

.connexion_container{
    background: url(../../../images/bg-image.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

label{
    font-weight: bold;
    font-size: 1.2rem;
}

.noitr{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    width: 40vw;
    height: 60vh;
    margin-top: 5vh;
}

.input_pseudo{
    width: 50vh;
    height: 5vh;
    border-radius: 2vh;
    text-align: center;
    font-size: 1.2rem;
}

.input_pwd{
    width: 50vh;
    height: 5vh;
    border-radius: 2vh;
    text-align: center;
    font-size: 1.2rem;
}


#pseudo{
    height: 6vh;
    width: 30vh;
    border-radius: 40px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0.74);
    backdrop-filter: blur(16px);
}

#email:hover{
    border-color: rgb(233, 21, 57);
    background-color: rgba(255, 255, 255, 0.178);
}

#password{
    height: 6vh;
    width: 25vw;
    border-radius: 40px;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    background-color: rgba(255, 255, 255, 0.74);
    backdrop-filter: blur(16px);
}

#password:hover{
    border-color: rgb(233, 21, 57);
    background-color: rgba(255, 255, 255, 0.178);
}

.carre{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bouton{
    padding: 1vw 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

button.btn_connexion{
    height: 4vh;
    width: 16vh;
    border-radius: 3vh;
    background-color: #F10479;
    border: 1px solid pink;
    color: pink;
    margin-left: 17vh;
    font-weight: bold;
    font-size: 1.2rem;
}

button.btn_connexion:hover {
    animation: a 0.5s 1 linear;
    border-color:white;
    background-color: black;
    color: violet;
  }

.bouton:hover{
    color: white;
}

.p{
    font-weight: bold;
    font-size: large;
    text-transform: none;
}
.r{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.class{
    float: left;
    height: 12px;
    width: 12px;
}
